<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PdfArranger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PdfArranger.Properties.Settings>
            <setting name="ScannerName" serializeAs="String">
                <value />
            </setting>
            <setting name="ScannerDpi" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ScannerPaperSize" serializeAs="String">
                <value>A4 true</value>
            </setting>
            <setting name="ScannerImageType" serializeAs="String">
                <value>Color</value>
            </setting>
            <setting name="ScannerBrightness" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScannerContrast" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScannerFiletype" serializeAs="String">
                <value>JPG</value>
            </setting>
            <setting name="ScannerQuali" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="ScannerDeltaX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScannerDeltaY" serializeAs="String">
                <value>0</value>
            </setting>
        </PdfArranger.Properties.Settings>
    </userSettings>
</configuration>